/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  font-style: italic;
  color: #d4af37;
  
  text-align: center; 
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 15px;
  text-align: left;
  height: 50px;
}
td{
  height: 50px;
  vertical-align: bottom;
}

table {
  width = 100%;
}
