/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  font-style: italic;
  color: #d4af37;
  position: relative;
  top: 18px;
  text-align: center;
  height: 100px;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 15px;
  text-align: left;
  height: 50px;
}
td{
  height: 50px;
  vertical-align: bottom;
}

table {
  width = 100%;
}

.header{
  background-image: url("https://ak8.picdn.net/shutterstock/videos/14597038/thumb/1.jpg?i10c=img.resize(height:160)")
}




